.wrap {
  background-color: rgba($primary-color, 0.4);
}

.container {
  // width: 100%;
  max-width: 740px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;

  background-color: $background-color;
}
