// it is not necessary, but if not specyfy main container height will have problems
// can be deleted if in Page height replaced to 100vh instead of 100%
// (but on mobiles footer bad seen because of address in the top)
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;

  font-family: 'Verdana', sans-serif;
  line-height: 1.375;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul,
dl {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span,
label {
  overflow: hidden;
  text-overflow: ellipsis;
}
