.layout__wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout__header {
  flex-grow: 0;
  flex-shrink: 0;

  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.layout__main-content {
  flex-grow: 1;
  flex-shrink: 0;
}

.layout__footer {
  flex-grow: 0;
  flex-shrink: 0;
}
